# Clion配置文件
.idea

# vscode配置文件
.vscode

# CMake文件
CMakeLists.txt
cmake-build-debug

# debug配置文件
/cmake-build-debug
/cmake-build-debug-raspberry

# CPP编译产生的目标文件
*.exe
*.txt
*.out
*.app
*.c
*.obj

# 配置文件
.xml
.js